{% extends 'layout.html' %}

{% block title %}
  Анализатор страниц
{% endblock %}

{% block main %}

<h1>Сайт: {{ url_info.name }}</h1>


<div class="table-responsive">
  <table class="table table-bordered table-hover text-nowrap" data-test="url">
    <tbody>
      <tr>
        <td>ID</td>
        <td>{{ url_info.id }}</td>
      </tr>
      <tr>
        <td>Имя</td>
        <td>{{ url_info.name }}</td>
      </tr>
      <tr>
        <td>Дата создания</td>
        <td>{{ url_info.created_at }}</td>
      </tr>
    </tbody>
  </table>
</div>

<h2 class="mt-5 mb-3">Проверки</h2>
<form method="post" action="{{ url_for('url_check', id=url_info.id) }}">
  <input type="submit" class="btn btn-primary" value="Запустить проверку">
</form>

<div>
  <table class="table table-bordered table-hover mt-2" data-test="checks">
    <tbody>
      <tr>
        <th>ID</th>
        <th>Код ответа</th>
        <th>h1</th>
        <th>title</th>
        <th>description</th>
        <th>Дата создания</th>
      </tr>
      {% if url_check %}
        {% for check in url_check %}
          <tr>
            <td>{{ check.id }}</td>
            <td>{{ check.code_response }}</td>
            <td>{{ check.h1 }}</td>
            <td>{{ check.title }}</td>
            <td>{{ check.description }}</td>
            <td>{{ check.created_at }}</td>
          </tr>
        {% endfor %}
      {% endif %}
    </tbody>
  </table>
</div>

{% endblock %}